# Local credentials
keys/
01-terraform-basics/keys/
**/keys/
*.json

02-workflow-orchestration/gcp_taxi.yaml

# Terraform specific
.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
*.tfvars
*.tfvars.json

# Other
.venv/
vids/
steps.txt
.bruin.yml
logs/runs